h1 Hello
  span#1 Y
  | ami-Ichi
p <b>ma<span id='2'>zafaka</span></b> realtime 3 milliseconds realtime portraits
button chat now
hr
code This is page is exhibit of the museum. Museum, where an obvious future is being collected
h2 cheers cheers hooray!
  span We<strike class="b">b</strike>come to web 4.0!
p Your existence on the Internet is in one&nbsp;
  a(href='#') click
table
  caption who are you?
  tr
    th What is important
    th What doesn't matter
  tr
    td How much money do you have?
    td Color of your eyes
  tr
    td How much are you willing to pay for the product?
    td Your smeel
  tr
    td your costs
    td Your fillings
  tr
    td yours clicks
    td your minds
  tr
    td
    td your tastes
  tr
    td
    td your dreams
  tr
    td
    td your sensis
  tr
    td
    td your joys
  tr
    td
    td your sadness
  tr
    td
    td your wins
  tr
    td
    td your views
  tr
    td
    td your ideas

p
  input(type='radio', name="Im")
  span &nbsp;I'm not a user
  br
  input(type='radio', name="Im")
  span &nbsp;I'm not a robot
h3 you see:
ul
  li what is it?
  li show me panda
  li what is o<b>f</b>line
  li what a hell 
