.axis
  path
    fill none
    stroke none
    shape-rendering crispEdges

.tick
  text
    font-family Helvetica Neue, sans-serif
    font-size 12px

.svg-line-chart-point
  fill #fff
  stroke-width 2px
  cursor pointer

div
  &.svg-line-chart-tooltip
    position fixed
    text-align center
    width 100px
    padding-top 5px
    padding-bottom 5px
    font 12px 'Helvetica Neue', sans-serif
    background white
    border 0
    pointer-events none
    opacity 0

.svg-line-chart-label
  text-anchor middle
  font-weight 800
  font-size 18px
  font-family 'Helvetica Neue', sans-serif
