body
  margin 0
  font-family Verdana, Geneva, sans-serif
a
  text-decoration none
  font-weight normal
  color black
  line-height 30px
.error
  width 100vw
  height 120px
  background coral
  color white
  position fixed
  z-index 100
  top 0
  left 0
  *
    width 80%
    margin-left 10%
.active
  border-bottom 2px solid black

.Cpanel
  position fixed
  bottom 0
  right 0
  a
    margin 10px

.inf
  font-size 4em
  width 50%
  .num
    font-weight bold
  p
    width 80%
    font-size .2em

h2
h3
  font-weight normal
h1
  width 80%
  margin-left 10%
  font-size 1.4em
  font-weight normal
hr
  color none
  border 1px solid black
  width 80%
  margin-top 6%

table
  //border 1px solid #eee
  //margin-top 7%
  //margin-bottom 7%
  td:first-child
    white-space pre
  td
    padding-top 12px
    width 400px
    font-size .9em
  th
    //border 1px solid #eee
  th
    margin 0
    padding 0
    text-align left
    font-weight 600


.loading
  width 100%
  height 200px
  background url("https://media1.tenor.com/images/556e9ff845b7dd0c62dcdbbb00babb4b/tenor.gif?itemid=5300368") no-repeat center center
  background-size contain


.main
.block
  width 80%
  margin auto
ul
  padding-left 0
  li
    list-style-type none
    span
      line-height 18px
      font-weight light
    .d
      float right
      font-weight bold
    .bubl
      display inline-block
      width 10px
      height 10px
      margin-right 4px
      border 2px solid black
      position relative
      top 2px
      &:hover
        background black


.main
  display flex
  flex-wrap wrap
.counter
  width 800px
  margin auto
  background #fff

@media (orientation: portrait)
  .counter
    width 100vw
