body
  margin 0
  height 100vh
  display flex
  align-items center
  justify-content center
  font-family Helvetica Neue, sans-serif
a
  text-decoration none
  font-weight bold
  color black
  line-height 30px
.active
  border-bottom 2px solid black
.inf
  font-size 4em
  width 50%
  .num
    font-weight bold
  p
    width 80%
    font-size .2em
h1
  width 80%
  margin-left 10%
hr
  color none
  border 1px solid black
  width 80%
  margin auto

.loading
  width 100%
  height 200px
  background url("https://media1.tenor.com/images/556e9ff845b7dd0c62dcdbbb00babb4b/tenor.gif?itemid=5300368") no-repeat center center
  background-size contain


.main
.block
  width 80%
  margin auto
ul
  padding-left 0
  li
    list-style-type none
    span
      line-height 18px
      font-weight light
    .d
      float right
      font-weight bold
    .bubl
      display inline-block
      width 10px
      height 10px
      margin-right 4px
      border 2px solid black
      position relative
      top 2px
      &:hover
        background black
.main
  display flex
  flex-wrap wrap
.counter
  width 400px
  height 450px
  background #fff
  overflow-x hidden
  overflow-y scroll
  box-shadow: 0 0 1em rgba(0,0,0,.25)
